[Unit]
Description=Gunicorn instance to serve Flask
After=network.target

[Service]
User=demid
Group=www-data
WorkingDirectory=/home/demid/server
ExecStart=/usr/bin/gunicorn --bind unix:/home/demid/server/server.sock --workers 3 -m 007 wsgi:app | /usr/bin/python3 /home/demid/server/server.py

[Install]
WantedBy=multi-user.target
